body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

h1 {
    text-align: center;
}

.grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
